.app {
    min-height: 100%;
}

.app-content {
    --offset: calc(var(--footer-height) + var(--logo-height));
    min-height: calc(100vh - var(--offset));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}