.key {
    position: relative;
    font-size: var(--font-size);
    border-radius: 0 0 var(--radius) var(--radius);

    text-transform: uppercase;
    user-select: none;
    margin: 0 10px;
}

.key--natural {
    width: var(--white-key-width);
    height: var(--white-key-width);
    padding-top: var(--white-key-width);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.key--sharp, .key--flat {
    width: var(--black-key-width);
    height: var(--black-key-width);
    padding-top: var(--black-key-width);
    background-color: #111;
    color: white;
    margin: 0 calc(-0.5 * calc(var(--black-key-width)));
    z-index: 2;
}